<div class = "monster">
    <div class="monster-info">
        <div class="stat-sheet">
            <img class="stat-img" id="monster-stats" src="{{statSheet}}">
            <img class="stat-img" id="stat-overlay" src="{{statCover}}">
        </div>
        <div class="battle-info">
            <img class="attack-card" id="ac-deck"
                src="{{cardBack}}">
            <img class="attack-card-discard" id="ac-drawn" src="{{discard}}">
            <div class="monster-buttons">
                <button class="add-monster" id="add-normal">Add Normal</button>
                <button class="add-monster" id="add-elite">Add Elite</button>
            </div>
            <button class="draw-attack" id="ac-draw">Draw Attack</button>
        </div>
    </div>
</div>