<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Gloomhaven Campaign Tracker</title>
        <script src="campaign-tracker.js"></script>
        <!--<link href="" rel="stylesheet">   Font Style-->
        <link rel="stylesheet" href="style.css">
        <!--js script-->
    </head>
    <body>
       {{{body}}}              
    </body>
</html>