<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Monster Tracker</title>
    <link rel="stylesheet" href="/monster-style.css">
    <script src="/index.js"></script>
  </head>
  <body>
    {{{body}}}
  </body> 
</html>