        <main class = "content">
        <div class = "monsters" id="monsters">
            {{> levelStarter}}            
        </div>
        <aside class = "sidebar">
            <div class = "attack-modifiers">
                <img class = "attack-modifier" id = "am-deck" src = "/images/attack-modifiers/monster/gh-am-m-back.png">
                <img class = "attack-modifier" id = "am-drawn" src = "/images/discard.png">
                <div class = "am-buttons">
                    <button class = "am-button" id = "am-shuffle">Shuffle</button>
                    <button class = "am-button" id = "am-draw">Draw</button>
                    <button class = "am-button" id = "am-curse">Curse</button>
                    <button class = "am-button" id = "am-bless">Bless</button>
                    <button class = "am-button" id = "round-start"> Start Round</button>
                    <button class = "am-button" id = "round-end"> End Round</button>
                    <button class = "am-button" id = "kill-monsters">Clean Monsters</button>
                </div>
            </div>
            <div class = "inititative-list" id = "initiative-list"></div>
        </aside>
    </main>
